<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2018 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="contact">
            <group id="map" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Map Options</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Map</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>                      
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Map Api Key</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>                      
                </field>                 
                <field id="latitude" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Latitude</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>                      
                </field> 
                <field id="longitude" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Longitude</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>                      
                </field>    
                <field id="zoom" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Zoom Level</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>                      
                </field>
                <field id="marker" translate="label comment" type="image" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Marker Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">contact/map/marker</upload_dir>
                    <base_url type="media" scope_info="1">contact/map/marker</base_url>
                </field>				
            </group>
        </section>
    </system>
</config>
